body{
    background: rgb(236, 234, 255);
    font-family: Cursive;
    box-sizing: border-box;
}
/* Navigation Bar */
.navContainer{
    width: 80%;
    margin:0 auto;
}

header{
    background: #030759;
    font-size: 20px;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    width: 20%;
    height: auto;
    float: left;
    
}

nav{
    float: right;
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 40px;

    position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color:darkcyan;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
    
}
nav a:hover::before{
    width: 100%;
}
/* body */
h2{
    font-size: 70px;
    margin: 50px;
    text-align: center;
}
h4{
    text-align: center;
}
.containBody{
    align-items: center;

}
ul{
    list-style-type:none;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0;
    margin-left: 80px;
    margin-bottom: 50px;
}
.card img{
    position: relative;
    float: left;
    padding: 30px;
    padding-left: 100px;
}
.card p{
    padding: 30px;
    padding-left: 250px;
}

.cite{
    font-size: smaller;
    text-align: right;
}
/* Footer */
footer{
    background:#030759;
    height: auto;
    width: 100%;
    padding-top: 0;
    color: whitesmoke;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom{
    width: 100%;
    background: #030759;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}